/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav li {
  font-weight: 400;
}

.nav a {
  color: var(--color-white);
  font-size: 16px;
  transition: color 0.3s;
}

.nav a:hover {
  color: var(--color-secondary);
}
