.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide en dos columnas iguales */
  align-items: center; /* Centra el contenido verticalmente */
  gap: 2rem; /* Espacio entre las columnas */
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.search-bar {
  gap: 10px;
}

.search-bar input {
  width: 50%;
}

.search-bar button {
  background-color: var(--color-primary);
  font-size: 16px;
}

.search-bar button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.hero-img {
  max-width: 100%; /* Asegura que la imagen no se desborde */
}

.hero-img img {
  width: 400px;
  max-width: 100%; /* Hace que la imagen sea responsiva */
  height: auto;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr; /* En pantallas pequeñas, las columnas se apilan */
  }

  .hero h2 {
    font-size: 24px;
  }

  .search-bar input {
    width: 100%;
  }

  .search-bar button {
    width: 100%;
  }
}
